<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBMwek3o439JIlLfA3JGqSQzlcWrDMv5I4</string>
	<key>GCM_SENDER_ID</key>
	<string>621179872034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homeWork.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>svu-wmb</string>
	<key>STORAGE_BUCKET</key>
	<string>svu-wmb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621179872034:ios:a922f348249caa8dd3bb7b</string>
</dict>
</plist>